## P/E Ratio

In [1]:
import pandas as pd

In [29]:
pharma=pd.read_csv('Pharma_PE_ratio.csv')

In [30]:
pharma

     Rank            Category                Company PE_Ratio Country
0       1   üíä Pharmaceuticals                 JanOne   0.1150     USA
1       2   üíä Pharmaceuticals  Adial Pharmaceuticals   0.1381     USA
2       3   üíä Pharmaceuticals               Chimerix   0.4664     USA
3       4   üíä Pharmaceuticals         TherapeuticsMD   0.5780     USA
4       5   üíä Pharmaceuticals  Assertio Therapeutics   0.6200     USA
..    ...                 ...                    ...      ...     ...
675   689   üíä Pharmaceuticals               RayzeBio    -68.8     USA
676   690   üíä Pharmaceuticals   Neumora Therapeutics    -6.94     USA
677   693   üíä Pharmaceuticals                 Imunon  -0.2361     USA
678   694   üíä Pharmaceuticals   Renovaro Biosciences    -1.50     USA
679   695   üíä Pharmaceuticals               CervoMed    -1.05     USA

[680 rows x 5 columns]

In [2]:
food_category=[]
food_country=[]
food_ratio=[]

In [5]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By


# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)
def loop():
    global c_i
    
    
    food_country.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[6]/table/tbody/tr[' + str(c_i) + ']/td[8]/span').text)

    food_ratio.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[6]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)




# page iteration
for pg_id in range(3,4): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/food/food-companies-ranked-by-pe-ratio/?page={pg_id}"

    driver.get(url)        

    c_i = 1

    for i in range(1,40):

        r_iter=i
        
        
        cat='üç¥ Food'
        food_category.append(cat)
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
            
            

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()

In [11]:
data = {'PE_Ratio': food_ratio,'Country': food_country}
food_ratio=pd.DataFrame(data)
food_ratio=food_ratio[food_ratio.PE_Ratio !='N/A']


food_ratio

    PE_Ratio    Country
0       1.96        USA
1       2.15        USA
2       3.64        USA
3       4.89    Germany
4       4.98   S. Korea
..       ...        ...
229     -311        USA
230  -0.8802        USA
233    -28.5      Italy
236    -22.9     Norway
237     5.96  Singapore

[220 rows x 2 columns]

In [12]:
food_ratio['Category']='üç¥ Food'

In [13]:
food_ratio

    PE_Ratio    Country Category
0       1.96        USA   üç¥ Food
1       2.15        USA   üç¥ Food
2       3.64        USA   üç¥ Food
3       4.89    Germany   üç¥ Food
4       4.98   S. Korea   üç¥ Food
..       ...        ...      ...
229     -311        USA   üç¥ Food
230  -0.8802        USA   üç¥ Food
233    -28.5      Italy   üç¥ Food
236    -22.9     Norway   üç¥ Food
237     5.96  Singapore   üç¥ Food

[220 rows x 3 columns]

### Auto

In [19]:

auto_country=[]
auto_category=[] 
auto_ratio=[]

# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)
def loop():
    global c_i
    global company
 
    
    auto_country.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[6]/table/tbody/tr[' + str(c_i) + ']/td[8]/span').text)
    auto_ratio.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[6]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)


        



# page iteration
for pg_id in range(1,2): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/automakers/automakers-ranked-by-pe-ratio/"



    driver.get(url)        

    c_i = 1

    for i in range(1,61):

        r_iter=i
        
        cat='üöó Automakers'
        auto_category.append(cat)
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
            
            

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()     
            

data = {'Category': auto_category, 'PE_Ratio': auto_ratio,'Country': auto_country}
auto=pd.DataFrame(data)
auto


auto=auto[auto.PE_Ratio !='N/A']

In [20]:
auto

        Category PE_Ratio      Country
0   üöó Automakers     2.78        China
1   üöó Automakers     2.95     S. Korea
2   üöó Automakers     3.79        Japan
3   üöó Automakers     3.88      Germany
4   üöó Automakers     3.93          USA
5   üöó Automakers     4.16      Germany
6   üöó Automakers     4.54     S. Korea
7   üöó Automakers     5.58      Germany
8   üöó Automakers     5.81        Japan
9   üöó Automakers     6.66          USA
10  üöó Automakers     6.82       Turkey
11  üöó Automakers     6.89       Turkey
12  üöó Automakers     7.52        Japan
13  üöó Automakers     7.69        Japan
14  üöó Automakers     8.39        Japan
15  üöó Automakers     8.44        Japan
16  üöó Automakers     8.49       Sweden
17  üöó Automakers     8.67          USA
18  üöó Automakers     9.15        Japan
19  üöó Automakers     11.6        Japan
20  üöó Automakers     12.3        China
21  üöó Automakers     14.6        India
22  üöó Automakers     15.0        China
23  üöó Automakers     16.0        China
24  üöó Automakers     16.5        China
25  üöó Automakers     19.9        India
26  üöó Automakers     28.7        India
27  üöó Automakers     32.4        China
28  üöó Automakers     35.9        China
29  üöó Automakers     52.1        Italy
30  üöó Automakers     68.7          USA
31  üöó Automakers      156        China
32  üöó Automakers      341        India
33  üöó Automakers    -28.3       France
34  üöó Automakers  -0.5949          USA
35  üöó Automakers    -4.14        China
36  üöó Automakers     -463           UK
37  üöó Automakers    -35.9       Taiwan
38  üöó Automakers    -12.2        China
39  üöó Automakers  -0.4353       Canada
40  üöó Automakers  -0.0403          USA
41  üöó Automakers    -1.28          USA
42  üöó Automakers  < -1000        China
43  üöó Automakers     10.6  Netherlands
44  üöó Automakers  -0.3161          USA
45  üöó Automakers  -0.0104           UK
46  üöó Automakers    -2.94          USA
47  üöó Automakers    -2.47          USA
48  üöó Automakers  -0.4988       Israel
49  üöó Automakers    -1.35          USA
50  üöó Automakers  -0.0013          USA
51  üöó Automakers  -0.0063          USA
52  üöó Automakers    -1.71          USA
53  üöó Automakers    -15.3       Sweden
54  üöó Automakers    -55.5        China
56  üöó Automakers    -12.2        China
57  üöó Automakers    -5.98      Vietnam
58  üöó Automakers     -172          UAE
59  üöó Automakers    -30.6        China

### Ecommerce

In [23]:
ecom_country=[]
ecom_category=[] 
ecom_ratio=[]

# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)
def loop():
    global c_i
    global company
 
    
    
    
    ecom_country.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[6]/table/tbody/tr[' + str(c_i) + ']/td[8]/span').text)

    ecom_ratio.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[6]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)


        



# page iteration
for pg_id in range(1,2): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/e-commerce/e-commerce-companies-ranked-by-pe-ratio/"



    driver.get(url)        

    c_i = 1

    for i in range(1,96):

        r_iter=i
        
        cat='üõí E-Commerce'
        ecom_category.append(cat)
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
            

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()     
            


data = {'Category': ecom_category, 'PE_Ratio': ecom_ratio,'Country': ecom_country}
ecom=pd.DataFrame(data)
ecom


ecom=ecom[ecom.PE_Ratio !='N/A']

In [24]:
ecom

        Category PE_Ratio      Country
0   üõí E-Commerce   0.8977          USA
1   üõí E-Commerce     3.90       Norway
2   üõí E-Commerce     8.45        China
3   üõí E-Commerce     9.51       Brazil
4   üõí E-Commerce     11.6          USA
..           ...      ...          ...
86  üõí E-Commerce  -0.0230          USA
88  üõí E-Commerce    -4.40      Germany
89  üõí E-Commerce  -0.9990          USA
91  üõí E-Commerce    -2.67    Singapore
94  üõí E-Commerce    -53.1  Netherlands

[89 rows x 3 columns]

### Restaurants

In [25]:
res_country=[]
res_category=[] 
res_ratio=[]
# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)
def loop():
    global c_i
    global company
 
    
    res_country.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[6]/table/tbody/tr[' + str(c_i) + ']/td[8]/span').text)


    res_ratio.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[6]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)


        



# page iteration
for pg_id in range(1,2): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/restaurant-chains/restaurant-chain-companies-ranked-by-pe-ratio/"



    driver.get(url)        

    c_i = 1

    for i in range(1,56):

        r_iter=i
        
        cat='üçî Restaurant chains'
        res_category.append(cat)
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
        

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()     
            


data = {'Category': res_category, 'PE_Ratio': res_ratio,'Country': res_country}
res=pd.DataFrame(data)



res=res[res.PE_Ratio !='N/A']

In [26]:
res

               Category PE_Ratio      Country
0   üçî Restaurant chains     1.96          USA
1   üçî Restaurant chains     2.15          USA
2   üçî Restaurant chains     8.62          USA
3   üçî Restaurant chains     9.34          USA
4   üçî Restaurant chains     10.7          USA
5   üçî Restaurant chains     11.3          USA
6   üçî Restaurant chains     13.2       Canada
7   üçî Restaurant chains     13.3          USA
8   üçî Restaurant chains     13.4          USA
9   üçî Restaurant chains     13.7          USA
10  üçî Restaurant chains     14.5      Uruguay
11  üçî Restaurant chains     16.0       Canada
12  üçî Restaurant chains     17.4          USA
13  üçî Restaurant chains     18.4       Taiwan
14  üçî Restaurant chains     18.5          USA
15  üçî Restaurant chains     18.7          USA
16  üçî Restaurant chains     19.3          USA
17  üçî Restaurant chains     20.5          USA
18  üçî Restaurant chains     21.3       Canada
19  üçî Restaurant chains     23.9          USA
20  üçî Restaurant chains     24.0        China
21  üçî Restaurant chains     24.1          USA
22  üçî Restaurant chains     24.4          USA
23  üçî Restaurant chains     24.7          USA
24  üçî Restaurant chains     25.4          USA
25  üçî Restaurant chains     25.6          USA
26  üçî Restaurant chains     28.4          USA
27  üçî Restaurant chains     38.8        Japan
28  üçî Restaurant chains     39.5  Philippines
29  üçî Restaurant chains     45.9          USA
30  üçî Restaurant chains     48.0          USA
31  üçî Restaurant chains     52.3          USA
32  üçî Restaurant chains     53.1          USA
33  üçî Restaurant chains     55.0          USA
34  üçî Restaurant chains     60.1        China
35  üçî Restaurant chains      102          USA
36  üçî Restaurant chains      106        India
37  üçî Restaurant chains      276    Hong Kong
38  üçî Restaurant chains      511        Spain
39  üçî Restaurant chains   > 1000          USA
40  üçî Restaurant chains   > 1000          USA
41  üçî Restaurant chains    -40.4          USA
42  üçî Restaurant chains    -2.91          USA
44  üçî Restaurant chains    -24.4          USA
45  üçî Restaurant chains     -948        India
46  üçî Restaurant chains    -6.77          USA
47  üçî Restaurant chains     -752           UK
48  üçî Restaurant chains  < -1000           UK
49  üçî Restaurant chains    -52.7          USA
50  üçî Restaurant chains    -2.17        China
52  üçî Restaurant chains  -0.7010          USA
53  üçî Restaurant chains     -311          USA

## READ ALL Earning Files

In [27]:
all_ratio=pd.read_csv('PE_ratio.csv')
all_ratio

      Rank                        Company  PE_Ratio
0        1                         JanOne    0.1150
1        2          Adial Pharmaceuticals    0.1381
2        3                       Chimerix    0.4664
3        4                 TherapeuticsMD    0.5780
4        5          Assertio Therapeutics    0.6200
...    ...                            ...       ...
1095    49                      SSP Group       NaN
1096    50              Noodles & Company  -52.7000
1097    51  TH International (Tims China)   -2.1700
1098    53                     FAT Brands   -0.7010
1099    54                     CAVA Group -311.0000

[1100 rows x 3 columns]

In [36]:
pharma_categories = pharma['Category'].tolist()
food_categories = food_ratio['Category'].tolist()
auto_categories = auto['Category'].tolist()
ecom_categories = ecom['Category'].tolist()
res_categories = res['Category'].tolist()

In [37]:
combined_categories = pharma_categories + food_categories + auto_categories + ecom_categories + res_categories

In [38]:
len(combined_categories)

1100

In [40]:
all_ratio['Category']=combined_categories

In [41]:
pharma = pharma['Country'].tolist()
food = food_ratio['Country'].tolist()
auto = auto['Country'].tolist()
ecom = ecom['Country'].tolist()
res= res['Country'].tolist()

In [42]:
combined_country = pharma + food + auto + ecom + res
all_ratio['Country']=combined_country

In [43]:
all_ratio

,Rank,Company,PE_Ratio,Category,Country
0,1,JanOne,0.1150,üíä Pharmaceuticals,USA
1,2,Adial Pharmaceuticals,0.1381,üíä Pharmaceuticals,USA
2,3,Chimerix,0.4664,üíä Pharmaceuticals,USA
3,4,TherapeuticsMD,0.5780,üíä Pharmaceuticals,USA
4,5,Assertio Therapeutics,0.6200,üíä Pharmaceuticals,USA
...,...,...,...,...,...
1095,49,SSP Group,NaN,üçî Restaurant chains,UK
1096,50,Noodles & Company,-52.7000,üçî Restaurant chains,USA
1097,51,TH International (Tims China),-2.1700,üçî Restaurant chains,China
1098,53,FAT Brands,-0.7010,üçî Restaurant chains,USA
1099,54,CAVA Group,-311.0000,üçî Restaurant chains,USA

In [44]:
all_ratio.to_csv('Final_Ratio.csv',index=False)