## Market Cap

In [1]:
import pandas as pd

In [2]:
pharma=pd.read_csv('Pharma_MarketCapital2.csv')

In [3]:
pharma['Market Capital']=pharma['Market Capital'].str.replace('$','')

/var/folders/fx/sxss674s30jf3yw9m3qmqvrm0000gn/T/ipykernel_1100/2219417192.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pharma['Market Capital']=pharma['Market Capital'].str.replace('$','')

In [4]:
pharma=pharma.rename(columns={'Market Capital':'Market_Capital'})

In [5]:
pharma

     Rank            Category                 Company Market_Capital  Country
0       1   ğŸ’Š Pharmaceuticals               Eli Lilly       564.92 B      USA
1       2   ğŸ’Š Pharmaceuticals            Novo Nordisk       460.64 B  Denmark
2       3   ğŸ’Š Pharmaceuticals       Johnson & Johnson       363.06 B      USA
3       4   ğŸ’Š Pharmaceuticals                   Merck       257.65 B      USA
4       5   ğŸ’Š Pharmaceuticals                  AbbVie       244.47 B      USA
..    ...                 ...                     ...            ...      ...
690   691   ğŸ’Š Pharmaceuticals              ContraFect         0.35 M      USA
691   692   ğŸ’Š Pharmaceuticals   Calithera Biosciences         0.14 M      USA
692   693   ğŸ’Š Pharmaceuticals               Humanigen         0.09 M      USA
693   694   ğŸ’Š Pharmaceuticals     Genocea Biosciences            0 M      USA
694   695   ğŸ’Š Pharmaceuticals  Allena Pharmaceuticals            0 M      USA

[695 rows x 5 columns]

In [6]:
food=pd.read_csv('Food_MarketCapital.csv')
food

     Rank Category             Company Market_Capital      Country
0       1   ğŸ´ Food              NestlÃ©       302.91 B  Switzerland
1       2   ğŸ´ Food            McDonald       204.35 B          USA
2       3   ğŸ´ Food            Unilever       119.41 B           UK
3       4   ğŸ´ Food            Mondelez        97.42 B          USA
4       5   ğŸ´ Food  Hindustan Unilever        70.93 B        India
..    ...      ...                 ...            ...          ...
231   232   ğŸ´ Food           Missfresh         8.14 M        China
232   233   ğŸ´ Food        Stryve Foods          7.7 M          USA
233   234   ğŸ´ Food              Farmmi         7.47 M        China
234   235   ğŸ´ Food      BranchOut Food          5.7 M          USA
235   236   ğŸ´ Food       Edible Garden         2.62 M          USA

[236 rows x 5 columns]

In [7]:
auto=pd.read_csv('Automobile_MarketCapital.csv')
auto

,Rank,Category,Company,Market_Capital,Country
0,1,ğŸš— Automakers,Tesla,755.72 B,USA
1,2,ğŸš— Automakers,Toyota,253.75 B,Japan
2,3,ğŸš— Automakers,BYD,87.30 B,China
3,4,ğŸš— Automakers,Porsche,85.95 B,Germany
4,5,ğŸš— Automakers,Mercedes-Benz,68.53 B,Germany
5,6,ğŸš— Automakers,BMW,67.62 B,Germany
6,7,ğŸš— Automakers,Ferrari,66.68 B,Italy
7,8,ğŸš— Automakers,Stellantis,63.06 B,Netherlands
8,9,ğŸš— Automakers,Volkswagen,62.24 B,Germany
9,10,ğŸš— Automakers,Honda,51.40 B,Japan
10,11,ğŸš— Automakers,Li Auto,42.73 B,China
11,12,ğŸš— Automakers,Ford,41.95 B,USA
12,13,ğŸš— Automakers,General Motors,38.70 B,USA
13,14,ğŸš— Automakers,Maruti Suzuki India,38.12 B,India
14,15,ğŸš— Automakers,Hyundai,34.20 B,S. Korea
15,16,ğŸš— Automakers,Tata Motors,29.65 B,India
16,17,ğŸš— Automakers,Great Wall Motors,27.08 B,China
17,18,ğŸš— Automakers,Kia,25.51 B,S. Korea
18,19,ğŸš— Automakers,SAIC Motor,23.83 B,China
19,20,ğŸš— Automakers,Mahindra & Mahindra,23.18 B,India
20,21,ğŸš— Automakers,Chongqing Changan,21.40 B,China
21,22,ğŸš— Automakers,Suzuki Motor,19.47 B,Japan
22,23,ğŸš— Automakers,XPeng,17.89 B,China
23,24,ğŸš— Automakers,Seres Group,16.02 B,China
24,25,ğŸš— Automakers,Nissan,15.62 B,Japan
25,26,ğŸš— Automakers,Rivian,15.58 B,USA
26,27,ğŸš— Automakers,VinFast Auto,14.84 B,Vietnam
27,28,ğŸš— Automakers,NIO,13.89 B,China
28,29,ğŸš— Automakers,Subaru,13.60 B,Japan
29,30,ğŸš— Automakers,Hotai Motor,12.22 B,Taiwan
30,31,ğŸš— Automakers,Volvo Car,12.06 B,Sweden
31,32,ğŸš— Automakers,Geely,11.84 B,China
32,33,ğŸš— Automakers,GAC (Guangzhou Automobile Group),11.59 B,China
33,34,ğŸš— Automakers,Renault,11.04 B,France
34,35,ğŸš— Automakers,Isuzu,9.97 B,Japan
35,36,ğŸš— Automakers,Ford Otosan,9.96 B,Turkey
36,37,ğŸš— Automakers,Lucid Motors,9.82 B,USA
37,38,ğŸš— Automakers,Mazda,7.04 B,Japan
38,39,ğŸš— Automakers,FAW Car,6.02 B,China
39,40,ğŸš— Automakers,Leapmotor,5.84 B,China
40,41,ğŸš— Automakers,Polaris,5.12 B,USA
41,42,ğŸš— Automakers,Mitsubishi Motors,4.94 B,Japan
42,43,ğŸš— Automakers,Polestar,4.45 B,Sweden
43,44,ğŸš— Automakers,TofaÅŸ TÃ¼rk Otomobil FabrikasÄ±,4.15 B,Turkey
44,45,ğŸš— Automakers,Dongfeng Motor,3.93 B,China
45,46,ğŸš— Automakers,Aston Martin,2.44 B,UK
46,47,ğŸš— Automakers,NWTN Inc.,2.07 B,UAE
47,48,ğŸš— Automakers,Nikola,1.01 B,USA
48,49,ğŸš— Automakers,Fisker,0.76 B,USA
49,50,ğŸš— Automakers,Force Motors,0.63 B,India
50,51,ğŸš— Automakers,Kandi Technologies Group,0.24 B,China
51,52,ğŸš— Automakers,Canoo,0.23 B,USA
52,53,ğŸš— Automakers,Mullen Automotive,71.83 M,USA
53,54,ğŸš— Automakers,Cenntro Electric Group,69.74 M,USA
54,55,ğŸš— Automakers,Electra Meccanica,49.38 M,Canada
55,56,ğŸš— Automakers,REE Automotive,36.91 M,Israel
56,57,ğŸš— Automakers,Phoenix Motor,26.82 M,USA
57,58,ğŸš— Automakers,Arrival,22.41 M,UK
58,59,ğŸš— Automakers,Faraday Future,9.26 M,USA
59,60,ğŸš— Automakers,Arcimoto,6.16 M,USA

In [8]:
auto

,Rank,Category,Company,Market_Capital,Country
0,1,ğŸš— Automakers,Tesla,755.72 B,USA
1,2,ğŸš— Automakers,Toyota,253.75 B,Japan
2,3,ğŸš— Automakers,BYD,87.30 B,China
3,4,ğŸš— Automakers,Porsche,85.95 B,Germany
4,5,ğŸš— Automakers,Mercedes-Benz,68.53 B,Germany
5,6,ğŸš— Automakers,BMW,67.62 B,Germany
6,7,ğŸš— Automakers,Ferrari,66.68 B,Italy
7,8,ğŸš— Automakers,Stellantis,63.06 B,Netherlands
8,9,ğŸš— Automakers,Volkswagen,62.24 B,Germany
9,10,ğŸš— Automakers,Honda,51.40 B,Japan
10,11,ğŸš— Automakers,Li Auto,42.73 B,China
11,12,ğŸš— Automakers,Ford,41.95 B,USA
12,13,ğŸš— Automakers,General Motors,38.70 B,USA
13,14,ğŸš— Automakers,Maruti Suzuki India,38.12 B,India
14,15,ğŸš— Automakers,Hyundai,34.20 B,S. Korea
15,16,ğŸš— Automakers,Tata Motors,29.65 B,India
16,17,ğŸš— Automakers,Great Wall Motors,27.08 B,China
17,18,ğŸš— Automakers,Kia,25.51 B,S. Korea
18,19,ğŸš— Automakers,SAIC Motor,23.83 B,China
19,20,ğŸš— Automakers,Mahindra & Mahindra,23.18 B,India
20,21,ğŸš— Automakers,Chongqing Changan,21.40 B,China
21,22,ğŸš— Automakers,Suzuki Motor,19.47 B,Japan
22,23,ğŸš— Automakers,XPeng,17.89 B,China
23,24,ğŸš— Automakers,Seres Group,16.02 B,China
24,25,ğŸš— Automakers,Nissan,15.62 B,Japan
25,26,ğŸš— Automakers,Rivian,15.58 B,USA
26,27,ğŸš— Automakers,VinFast Auto,14.84 B,Vietnam
27,28,ğŸš— Automakers,NIO,13.89 B,China
28,29,ğŸš— Automakers,Subaru,13.60 B,Japan
29,30,ğŸš— Automakers,Hotai Motor,12.22 B,Taiwan
30,31,ğŸš— Automakers,Volvo Car,12.06 B,Sweden
31,32,ğŸš— Automakers,Geely,11.84 B,China
32,33,ğŸš— Automakers,GAC (Guangzhou Automobile Group),11.59 B,China
33,34,ğŸš— Automakers,Renault,11.04 B,France
34,35,ğŸš— Automakers,Isuzu,9.97 B,Japan
35,36,ğŸš— Automakers,Ford Otosan,9.96 B,Turkey
36,37,ğŸš— Automakers,Lucid Motors,9.82 B,USA
37,38,ğŸš— Automakers,Mazda,7.04 B,Japan
38,39,ğŸš— Automakers,FAW Car,6.02 B,China
39,40,ğŸš— Automakers,Leapmotor,5.84 B,China
40,41,ğŸš— Automakers,Polaris,5.12 B,USA
41,42,ğŸš— Automakers,Mitsubishi Motors,4.94 B,Japan
42,43,ğŸš— Automakers,Polestar,4.45 B,Sweden
43,44,ğŸš— Automakers,TofaÅŸ TÃ¼rk Otomobil FabrikasÄ±,4.15 B,Turkey
44,45,ğŸš— Automakers,Dongfeng Motor,3.93 B,China
45,46,ğŸš— Automakers,Aston Martin,2.44 B,UK
46,47,ğŸš— Automakers,NWTN Inc.,2.07 B,UAE
47,48,ğŸš— Automakers,Nikola,1.01 B,USA
48,49,ğŸš— Automakers,Fisker,0.76 B,USA
49,50,ğŸš— Automakers,Force Motors,0.63 B,India
50,51,ğŸš— Automakers,Kandi Technologies Group,0.24 B,China
51,52,ğŸš— Automakers,Canoo,0.23 B,USA
52,53,ğŸš— Automakers,Mullen Automotive,71.83 M,USA
53,54,ğŸš— Automakers,Cenntro Electric Group,69.74 M,USA
54,55,ğŸš— Automakers,Electra Meccanica,49.38 M,Canada
55,56,ğŸš— Automakers,REE Automotive,36.91 M,Israel
56,57,ğŸš— Automakers,Phoenix Motor,26.82 M,USA
57,58,ğŸš— Automakers,Arrival,22.41 M,UK
58,59,ğŸš— Automakers,Faraday Future,9.26 M,USA
59,60,ğŸš— Automakers,Arcimoto,6.16 M,USA

In [9]:
ecom=pd.read_csv('Ecommerce_MarketCapital.csv')
ecom

    Rank      Category             Company Market_Capital Country
0      1  ğŸ›’ E-Commerce              Amazon        1.518 T     USA
1      2  ğŸ›’ E-Commerce             Alibaba       200.46 B   China
2      3  ğŸ›’ E-Commerce           Pinduoduo       159.27 B   China
3      4  ğŸ›’ E-Commerce             Shopify        90.70 B  Canada
4      5  ğŸ›’ E-Commerce             Meituan        87.39 B   China
..   ...           ...                 ...            ...     ...
89    90  ğŸ›’ E-Commerce  Shift Technologies         2.89 M     USA
90    91  ğŸ›’ E-Commerce       Jeffs' Brands         2.86 M  Israel
91    92  ğŸ›’ E-Commerce        Polished.com         2.57 M     USA
92    93  ğŸ›’ E-Commerce        Onion Global         1.05 M   China
93    94  ğŸ›’ E-Commerce             Kaspien         0.75 M     USA

[94 rows x 5 columns]

In [10]:

res=pd.read_csv('Res_MarketCapital.csv')
res

,Rank,Category,Company,Market_Capital,Country
0,1,ğŸ” Restaurant chains,McDonald,204.40 B,USA
1,2,ğŸ” Restaurant chains,Chipotle Mexican Grill,60.85 B,USA
2,3,ğŸ” Restaurant chains,Yum! Brands,36.01 B,USA
3,4,ğŸ” Restaurant chains,Restaurant Brands International,30.76 B,Canada
4,5,ğŸ” Restaurant chains,Darden Restaurants,18.79 B,USA
5,6,ğŸ” Restaurant chains,Yum China,18.48 B,China
6,7,ğŸ” Restaurant chains,Domino's Pizza,12.89 B,USA
7,8,ğŸ” Restaurant chains,Hai Di Lao Hot Pot,11.87 B,China
8,9,ğŸ” Restaurant chains,Americana Restaurants International,7.89 B,UAE
9,10,ğŸ” Restaurant chains,Texas Roadhouse,7.50 B,USA
10,11,ğŸ” Restaurant chains,Wingstop Restaurants,6.92 B,USA
11,12,ğŸ” Restaurant chains,McDonald's Japan,5.63 B,Japan
12,13,ğŸ” Restaurant chains,Jollibee,4.82 B,Philippines
13,14,ğŸ” Restaurant chains,Wendyâ€™s Company,3.97 B,USA
14,15,ğŸ” Restaurant chains,CAVA Group,3.90 B,USA
15,16,ğŸ” Restaurant chains,Devyani International,2.63 B,India
16,17,ğŸ” Restaurant chains,Shake Shack,2.62 B,USA
17,18,ğŸ” Restaurant chains,Arcos Dorados Holdings,2.43 B,Uruguay
18,19,ğŸ” Restaurant chains,Papa John's Pizza,2.19 B,USA
19,20,ğŸ” Restaurant chains,SSP Group,2.11 B,UK
20,21,ğŸ” Restaurant chains,Bloomin' Brands,2.07 B,USA
21,22,ğŸ” Restaurant chains,Dave & Buster's,1.67 B,USA
22,23,ğŸ” Restaurant chains,The Cheesecake Factory,1.64 B,USA
23,24,ğŸ” Restaurant chains,Brinker International,1.56 B,USA
24,25,ğŸ” Restaurant chains,Jack in the Box,1.37 B,USA
25,26,ğŸ” Restaurant chains,AmRest,1.37 B,Spain
26,27,ğŸ” Restaurant chains,Sweetgreen,1.06 B,USA
27,28,ğŸ” Restaurant chains,First Watch Restaurant,1.05 B,USA
28,29,ğŸ” Restaurant chains,MTY Food Group,0.92 B,Canada
29,30,ğŸ” Restaurant chains,Portillo's,0.82 B,USA
30,31,ğŸ” Restaurant chains,CafÃ© de Coral,0.74 B,Hong Kong
31,32,ğŸ” Restaurant chains,BJ's Restaurants,0.70 B,USA
32,33,ğŸ” Restaurant chains,Dine Brands Global,0.68 B,USA
33,34,ğŸ” Restaurant chains,Kura Sushi USA,0.68 B,USA
34,35,ğŸ” Restaurant chains,The Restaurant Group plc,0.63 B,UK
35,36,ğŸ” Restaurant chains,Chuy's,0.60 B,USA
36,37,ğŸ” Restaurant chains,Denny's,0.51 B,USA
37,38,ğŸ” Restaurant chains,Biglari,0.45 B,USA
38,39,ğŸ” Restaurant chains,Carrols Restaurant Group,0.41 B,USA
39,40,ğŸ” Restaurant chains,Bafang Yunji,0.36 B,Taiwan
40,41,ğŸ” Restaurant chains,Pizza Pizza,0.34 B,Canada
41,42,ğŸ” Restaurant chains,Barbeque Nation Hospitality,0.28 B,India
42,43,ğŸ” Restaurant chains,El Pollo Loco,0.28 B,USA
43,44,ğŸ” Restaurant chains,TH International (Tims China),0.27 B,China
44,45,ğŸ” Restaurant chains,Restaurant Brands New Zealand,0.27 B,New Zealand
45,46,ğŸ” Restaurant chains,Potbelly Corporation,0.27 B,USA
46,47,ğŸ” Restaurant chains,Nathan's Famous,0.27 B,USA
47,48,ğŸ” Restaurant chains,Fiesta Restaurant Group,0.22 B,USA
48,49,ğŸ” Restaurant chains,GEN Restaurant Group,0.21 B,USA
49,50,ğŸ” Restaurant chains,Fairwood Holdings,0.17 B,Hong Kong
50,51,ğŸ” Restaurant chains,The ONE Group Hospitality,0.14 B,USA
51,52,ğŸ” Restaurant chains,Red Robin,0.14 B,USA
52,53,ğŸ” Restaurant chains,Noodles & Company,0.13 B,USA
53,54,ğŸ” Restaurant chains,FAT Brands,96.32 M,USA
54,55,ğŸ” Restaurant chains,Rave Restaurant Group,35 M,USA

In [11]:
MarketCap =pd.concat([pharma,food,auto,ecom,res],ignore_index=True)

In [12]:
def convert_to_number(input_str):
    suffixes = {
        'T': 10**12,
        'B': 10**9,
        'M': 10**6
    }

    # Extract the numeric value and suffix from the input string
    value_str, suffix = input_str[:-1], input_str[-1].upper()

    # Multiply the numeric value by the corresponding suffix
    if suffix in suffixes:
        result = float(value_str) * suffixes[suffix]
        return result
    else:
        print("Invalid suffix. Use T, B, or M.")
        return None

# Apply the conversion function to the "Revenue" column
MarketCap['Market_Capital'] = MarketCap['Market_Capital'].apply(convert_to_number)

pd.options.display.float_format = '{:.2f}'.format

# Display the updated DataFrame
print(MarketCap)

      Rank             Category                    Company  Market_Capital  \
0        1    ğŸ’Š Pharmaceuticals                  Eli Lilly 564920000000.00
1        2    ğŸ’Š Pharmaceuticals               Novo Nordisk 460640000000.00
2        3    ğŸ’Š Pharmaceuticals          Johnson & Johnson 363060000000.00
3        4    ğŸ’Š Pharmaceuticals                      Merck 257650000000.00
4        5    ğŸ’Š Pharmaceuticals                     AbbVie 244470000000.00
...    ...                  ...                        ...             ...
1135    51  ğŸ” Restaurant chains  The ONE Group Hospitality    140000000.00
1136    52  ğŸ” Restaurant chains                  Red Robin    140000000.00
1137    53  ğŸ” Restaurant chains          Noodles & Company    130000000.00
1138    54  ğŸ” Restaurant chains                 FAT Brands     96320000.00
1139    55  ğŸ” Restaurant chains      Rave Restaurant Group     35000000.00

      Country
0         USA
1     Denmark
2         USA
3         USA
4         USA
...       ...
1135      USA
1136      USA
1137      USA
1138      USA
1139      USA

[1140 rows x 5 columns]

In [13]:
MarketCap.to_csv('MarketCap.csv',index=False)

## Revenue

In [ ]:
pharma=pd.read_csv('Pharma_Revenue2.csv')
pharma['Revenue']=pharma['Revenue'].str.replace('$','')
pharma

In [ ]:
pharma.drop(columns=['Category','Country'],inplace=True)

In [ ]:
pharma

In [ ]:
food=pd.read_csv('Food_Revenue.csv')
food['Revenue']=pharma['Revenue'].str.replace('$','')
food

In [ ]:
auto=pd.read_csv('Automobile_Revenue.csv')
auto['Revenue']=pharma['Revenue'].str.replace('$','')
auto

In [ ]:
ecom=pd.read_csv('Ecommerce_Revenue.csv')
ecom['Revenue']=ecom['Revenue'].str.replace('$','')
ecom

In [ ]:
res=pd.read_csv('Res_Revenue.csv')
res['Revenue']=res['Revenue'].str.replace('$','')
res

In [ ]:
Revenue=pd.concat([pharma,food,auto,ecom,res],ignore_index=True)

In [ ]:
Revenue

In [ ]:
def convert_to_number(input_str):
    suffixes = {
        'T': 10**12,
        'B': 10**9,
        'M': 10**6
    }

    # Extract the numeric value and suffix from the input string
    value_str, suffix = input_str[:-1], input_str[-1].upper()

    # Multiply the numeric value by the corresponding suffix
    if suffix in suffixes:
        result = float(value_str) * suffixes[suffix]
        return result
    else:
        print("Invalid suffix. Use T, B, or M.")
        return None

# Apply the conversion function to the "Revenue" column
Revenue['Revenue'] = Revenue['Revenue'].apply(convert_to_number)

pd.options.display.float_format = '{:.2f}'.format

# Display the updated DataFrame
print(Revenue)

In [ ]:
Revenue.to_csv('Revenue.csv',index=False)

## Earnings

In [15]:
pharma=pd.read_csv('Pharma_Earning.csv')
pharma

     Rank            Category                   Company  Earnings      Country
0       1   ğŸ’Š Pharmaceuticals         Johnson & Johnson  $24.43 B          USA
1       2   ğŸ’Š Pharmaceuticals                     Roche  $17.67 B  Switzerland
2       3   ğŸ’Š Pharmaceuticals                CVS Health  $14.09 B          USA
3       4   ğŸ’Š Pharmaceuticals              Novo Nordisk  $12.84 B      Denmark
4       5   ğŸ’Š Pharmaceuticals                    Pfizer  $12.25 B          USA
..    ...                 ...                       ...       ...          ...
691   693   ğŸ’Š Pharmaceuticals                   BeiGene   -$1.3 B        China
692   694   ğŸ’Š Pharmaceuticals                  Rite Aid   -$1.4 B          USA
693   695   ğŸ’Š Pharmaceuticals                    Tilray  -$1.45 B       Canada
694   696   ğŸ’Š Pharmaceuticals                   Moderna  -$2.67 B          USA
695   697   ğŸ’Š Pharmaceuticals  Walgreens Boots Alliance  -$4.85 B          USA

[696 rows x 5 columns]

In [16]:
pharma['Earnings']=pharma['Earnings'].str.replace('$','')
pharma.drop(columns=['Category','Country'],inplace=True)

/var/folders/fx/sxss674s30jf3yw9m3qmqvrm0000gn/T/ipykernel_1100/2033149524.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pharma['Earnings']=pharma['Earnings'].str.replace('$','')

In [17]:
pharma

     Rank                   Company Earnings
0       1         Johnson & Johnson  24.43 B
1       2                     Roche  17.67 B
2       3                CVS Health  14.09 B
3       4              Novo Nordisk  12.84 B
4       5                    Pfizer  12.25 B
..    ...                       ...      ...
691   693                   BeiGene   -1.3 B
692   694                  Rite Aid   -1.4 B
693   695                    Tilray  -1.45 B
694   696                   Moderna  -2.67 B
695   697  Walgreens Boots Alliance  -4.85 B

[696 rows x 3 columns]

In [18]:
food=pd.read_csv('Food_Earning.csv')
food['Earnings']=pharma['Earnings'].str.replace('$','')
food

/var/folders/fx/sxss674s30jf3yw9m3qmqvrm0000gn/T/ipykernel_1100/1724270537.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  food['Earnings']=pharma['Earnings'].str.replace('$','')

     Rank            Company  Earnings
0       1             NestlÃ©   24.43 B
1       2           McDonald   17.67 B
2       3           Unilever   14.09 B
3       4             Danone   12.84 B
4       5           Mondelez   12.25 B
..    ...                ...       ...
233   235          Missfresh  -17.54 M
234   236      Grab Holdings  -17.68 M
235   237           DoorDash  -18.07 M
236   238             Sodexo  -18.59 M
237   239  Just Eat Takeaway  -18.66 M

[238 rows x 3 columns]

In [19]:
auto=pd.read_csv('Automobile_Earning.csv')
auto['Earnings']=pharma['Earnings'].str.replace('$','')
auto

/var/folders/fx/sxss674s30jf3yw9m3qmqvrm0000gn/T/ipykernel_1100/2533775233.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  auto['Earnings']=pharma['Earnings'].str.replace('$','')

    Rank                           Company Earnings
0      1                            Toyota  24.43 B
1      2                               BMW  17.67 B
2      3                        Volkswagen  14.09 B
3      4                     Mercedes-Benz  12.84 B
4      5                           Hyundai  12.25 B
5      6                               Kia  10.77 B
6      7                              Ford   9.02 B
7      8                             Tesla   8.80 B
8      9                    General Motors   8.75 B
9     10                             Honda   8.62 B
10    11                           Porsche   8.32 B
11    12                               BYD   8.15 B
12    13                            Nissan   8.00 B
13    14                        SAIC Motor   7.23 B
14    15                      Suzuki Motor   6.14 B
15    16                            Subaru   4.37 B
16    17                        Stellantis   4.35 B
17    18               Mahindra & Mahindra   4.15 B
18    19                           Renault   3.96 B
19    20                             Isuzu   3.39 B
20    21                         Volvo Car   3.20 B
21    22                             Mazda   3.12 B
22    23               Maruti Suzuki India   3.10 B
23    24                           Ferrari   2.87 B
24    25                       Ford Otosan   2.66 B
25    26                    Dongfeng Motor   2.00 B
26    27                 Mitsubishi Motors   1.75 B
27    28                 Chongqing Changan   1.66 B
28    29                 Great Wall Motors   1.60 B
29    30                           Li Auto   1.56 B
30    31                           Polaris   1.26 B
31    32     TofaÅŸ TÃ¼rk Otomobil FabrikasÄ±   1.21 B
32    33                             Geely   1.20 B
33    34                       Tata Motors   1.15 B
34    35                       Hotai Motor   0.96 B
35    36  GAC (Guangzhou Automobile Group)   0.96 B
36    37                           FAW Car   0.81 B
37    38                      Force Motors   0.77 B
38    39          Kandi Technologies Group   0.77 B
39    40                     Phoenix Motor   0.75 B
40    41                         NWTN Inc.   0.72 B
41    42            Cenntro Electric Group   0.68 B
42    43                          Arcimoto   0.68 B
43    44                 Electra Meccanica   0.65 B
44    45                    REE Automotive   0.64 B
45    46                             Canoo   0.60 B
46    47                    Faraday Future   0.58 B
47    48                      Aston Martin   0.56 B
48    49                            Fisker   0.55 B
49    50                          Polestar   0.54 B
50    51                       Seres Group   0.54 B
51    52                         Leapmotor   0.51 B
52    53                            Nikola   0.50 B
53    54                 Mullen Automotive   0.49 B
54    55                           Arrival   0.45 B
55    56                             XPeng   0.44 B
56    57                      VinFast Auto   0.44 B
57    58                      Lucid Motors   0.44 B
58    59                               NIO   0.42 B
59    60                            Rivian   0.42 B

In [20]:
ecom=pd.read_csv('Ecommerce_Earning.csv')
ecom['Earnings']=ecom['Earnings'].str.replace('$','')
ecom

/var/folders/fx/sxss674s30jf3yw9m3qmqvrm0000gn/T/ipykernel_1100/1065141560.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ecom['Earnings']=ecom['Earnings'].str.replace('$','')

    Rank        Company Earnings
0      1         Amazon  26.07 B
1      2        Alibaba  23.12 B
2      3      Pinduoduo   6.88 B
3      4  Jingdong Mall   4.91 B
4      5           eBay   2.39 B
..   ...            ...      ...
90    91        Wayfair   -0.9 B
91    92        Shopify  -1.12 B
92    93        Rakuten  -1.39 B
93    94       Adevinta  -1.68 B
94    95           GoTo   -1.9 B

[95 rows x 3 columns]

In [21]:
res=pd.read_csv('Res_Earning.csv')
res['Earnings']=res['Earnings'].str.replace('$','')
res

/var/folders/fx/sxss674s30jf3yw9m3qmqvrm0000gn/T/ipykernel_1100/729207669.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  res['Earnings']=res['Earnings'].str.replace('$','')

    Rank                          Company  Earnings
0      1                         McDonald   10.34 B
1      2                      Yum! Brands    1.78 B
2      3           Chipotle Mexican Grill    1.55 B
3      4  Restaurant Brands International    1.33 B
4      5               Darden Restaurants    1.20 B
5      6                        Yum China    1.16 B
6      7                   Domino's Pizza    0.79 B
7      8                  Bloomin' Brands    0.34 B
8      9                  Texas Roadhouse    0.34 B
9     10               Hai Di Lao Hot Pot    0.30 B
10    11                         Jollibee    0.30 B
11    12                  Dave & Buster's    0.29 B
12    13                  Jack in the Box    0.28 B
13    14           Arcos Dorados Holdings    0.28 B
14    15                  Wendyâ€™s Company    0.27 B
15    16                 McDonald's Japan    0.25 B
16    17            Brinker International    0.18 B
17    18               Dine Brands Global    0.16 B
18    19                          Biglari    0.14 B
19    20                Papa John's Pizza    0.14 B
20    21                           AmRest    0.13 B
21    22             Wingstop Restaurants    0.11 B
22    23           The Cheesecake Factory    85.3 M
23    24                   MTY Food Group   77.52 M
24    25                          Denny's   56.83 M
25    26                       Portillo's   48.63 M
26    27            Devyani International   40.52 M
27    28                  Nathan's Famous   34.39 M
28    29                    El Pollo Loco   32.32 M
29    30           First Watch Restaurant   30.82 M
30    31                           Chuy's   30.17 M
31    32                        SSP Group   28.14 M
32    33    Restaurant Brands New Zealand   26.88 M
33    34                      Pizza Pizza   26.51 M
34    35                     Bafang Yunji   25.32 M
35    36             GEN Restaurant Group   18.77 M
36    37                    CafÃ© de Coral   18.36 M
37    38        The ONE Group Hospitality   13.42 M
38    39                      Shake Shack    12.8 M
39    40                 BJ's Restaurants   11.65 M
40    41                Fairwood Holdings   10.61 M
41    42      Barbeque Nation Hospitality    8.82 M
42    43             Potbelly Corporation    8.78 M
43    44            Rave Restaurant Group    2.15 M
44    45         Carrols Restaurant Group    1.07 M
45    46                Noodles & Company    0.85 M
46    47                   Kura Sushi USA    0.68 M
47    49          Fiesta Restaurant Group   -4.93 M
48    50                       CAVA Group   -8.04 M
49    51                        Red Robin  -50.79 M
50    52         The Restaurant Group plc   -0.11 B
51    53    TH International (Tims China)   -0.12 B
52    54                       FAT Brands   -0.12 B
53    55                       Sweetgreen   -0.16 B

In [23]:
Earn=pd.concat([pharma,food,auto,ecom,res],ignore_index=True)

In [24]:
def convert_to_number(input_str):
    suffixes = {
        'T': 10**12,
        'B': 10**9,
        'M': 10**6
    }

    # Extract the numeric value and suffix from the input string
    value_str, suffix = input_str[:-1], input_str[-1].upper()

    # Multiply the numeric value by the corresponding suffix
    if suffix in suffixes:
        result = float(value_str) * suffixes[suffix]
        return result
    else:
        print("Invalid suffix. Use T, B, or M.")
        return None

# Apply the conversion function to the "Revenue" column
Earn['Earnings'] = Earn['Earnings'].apply(convert_to_number)

pd.options.display.float_format = '{:.2f}'.format

# Display the updated DataFrame
print(Earn)

      Rank                        Company       Earnings
0        1              Johnson & Johnson 24430000000.00
1        2                          Roche 17670000000.00
2        3                     CVS Health 14090000000.00
3        4                   Novo Nordisk 12840000000.00
4        5                         Pfizer 12250000000.00
...    ...                            ...            ...
1138    51                      Red Robin   -50790000.00
1139    52       The Restaurant Group plc  -110000000.00
1140    53  TH International (Tims China)  -120000000.00
1141    54                     FAT Brands  -120000000.00
1142    55                     Sweetgreen  -160000000.00

[1143 rows x 3 columns]

In [25]:
Earn.to_csv('Earnings.csv',index=False)

## Employees

In [27]:
pharma=pd.read_csv('Pharma_Emp.csv')
pharma.drop(columns=['Category','Country'],inplace=True)
pharma

     Rank                   Company Employees
0       1  Walgreens Boots Alliance   325,000
1       2                CVS Health   219,000
2       3         Johnson & Johnson   152,700
3       4                 Sinopharm   114,766
4       5                     Roche   103,613
..    ...                       ...       ...
655   656     Cadrenal Therapeutics         3
656   657         Hoth Therapeutics         2
657   658            Mangoceuticals         2
658   659            TherapeuticsMD         1
659   660      Hillstream BioPharma         1

[660 rows x 3 columns]

In [28]:
food=pd.read_csv('Food_Emp.csv')
food

     Rank                Company Employees
0       1          Compass Group   500,000
1       2                 Sodexo   422,000
2       3         Ahold Delhaize   414,000
3       4              Yum China   400,000
4       5        X5 Retail Group   325,000
..    ...                    ...       ...
214   215   Vidhi Specialty Food        71
215   216                 Farmmi        56
216   217  Rave Restaurant Group        24
217   218         Moolec Science        12
218   219         BranchOut Food         4

[219 rows x 3 columns]

In [29]:
auto=pd.read_csv('Automobile_Emp.csv')

auto

    Rank                           Company Employees
0      1                        Volkswagen   676,915
1      2                               BYD   570,100
2      3                            Toyota   375,235
3      4                        Stellantis   272,367
4      5               Mahindra & Mahindra   260,000
5      6                        SAIC Motor   215,999
6      7                             Honda   197,039
7      8                              Ford   173,000
8      9                     Mercedes-Benz   169,355
9     10                    General Motors   167,000
10    11                               BMW   149,475
11    12                            Nissan   131,719
12    13                             Tesla   127,855
13    14                    Dongfeng Motor   119,420
14    15                           Renault   105,812
15    16  GAC (Guangzhou Automobile Group)   100,121
16    17                 Great Wall Motors    87,367
17    18                       Tata Motors    81,811
18    19                      Suzuki Motor    70,012
19    20                           Hyundai    63,942
20    21                             Geely    49,000
21    22                             Mazda    48,481
22    23                             Isuzu    44,495
23    24                 Chongqing Changan    42,894
24    25                         Volvo Car    42,300
25    26                            Subaru    37,521
26    27                               Kia    34,178
27    28                 Mitsubishi Motors    28,428
28    29                               NIO    26,763
29    30                       Ford Otosan    21,007
30    31                           FAW Car    20,344
31    32                           Li Auto    19,396
32    33                       Seres Group    16,777
33    34               Maruti Suzuki India    16,259
34    35                           Polaris    16,200
35    36                             XPeng    15,829
36    37                            Rivian    14,122
37    38                         Leapmotor     8,336
38    39                      Lucid Motors     7,200
39    40     TofaÅŸ TÃ¼rk Otomobil FabrikasÄ±     5,528
40    41                           Ferrari     4,961
41    42                      Force Motors     3,928
42    43                           Arrival     2,695
43    44                      Aston Martin     2,473
44    45                          Polestar     2,377
45    46                            Nikola     1,500
46    47          Kandi Technologies Group       971
47    48                            Fisker       900
48    49                             Canoo       812
49    50                    Faraday Future       586
50    51                    REE Automotive       291
51    52            Cenntro Electric Group       279
52    53                          Arcimoto       153
53    54                 Mullen Automotive       118
54    55                 Electra Meccanica       104
55    56                         NWTN Inc.       103
56    57                     Phoenix Motor        60

In [30]:
ecom=pd.read_csv('Ecommerce_Emp.csv')

ecom

    Rank            Company  Employees
0      1             Amazon  1,541,000
1      2      Jingdong Mall    450,679
2      3            Alibaba    235,216
3      4            Meituan     91,932
4      5       Sea (Garena)     63,800
..   ...                ...        ...
85    86  Katapult Holdings        120
86    87            Kaspien         80
87    88    Treasure Global         48
88    89             Kidpik         25
89    90      Jeffs' Brands          9

[90 rows x 3 columns]

In [31]:
res=pd.read_csv('Res_Emp.csv')
res

    Rank                          Company Employees
0      1                        Yum China   400,000
1      2               Darden Restaurants   190,000
2      3           Chipotle Mexican Grill   104,958
3      4                         McDonald   100,000
4      5                  Bloomin' Brands    87,000
5      6                  Texas Roadhouse    82,000
6      7               Hai Di Lao Hot Pot    73,987
7      8            Brinker International    62,025
8      9           The Cheesecake Factory    47,500
9     10                        SSP Group    37,000
10    11                      Yum! Brands    36,000
11    12                        Red Robin    24,335
12    13                  Dave & Buster's    22,748
13    14                           AmRest    22,450
14    15                 BJ's Restaurants    22,225
15    16                    CafÃ© de Coral    19,555
16    17         The Restaurant Group plc    18,000
17    18            Devyani International    15,685
18    19                Papa John's Pizza    12,000
19    20           First Watch Restaurant    12,000
20    21                         Jollibee    11,823
21    22                      Shake Shack    11,704
22    23                       Portillo's     8,040
23    24                Noodles & Company     8,000
24    25                           Chuy's     7,400
25    26                   MTY Food Group     7,062
26    27      Barbeque Nation Hospitality     6,878
27    28                   Domino's Pizza     6,500
28    29  Restaurant Brands International     6,400
29    30         Carrols Restaurant Group     6,075
30    31             Potbelly Corporation     6,000
31    32                       Sweetgreen     5,952
32    33                Fairwood Holdings     5,600
33    34                    El Pollo Loco     4,931
34    35                  Wendyâ€™s Company     4,833
35    36          Fiesta Restaurant Group     4,350
36    37                          Denny's     3,700
37    38        The ONE Group Hospitality     3,700
38    39    TH International (Tims China)     2,807
39    40                          Biglari     2,559
40    41             GEN Restaurant Group     2,350
41    42                 McDonald's Japan     2,272
42    43                   Kura Sushi USA     2,100
43    44                       FAT Brands     1,100
44    45                  Jack in the Box     1,030
45    46               Dine Brands Global       637
46    47             Wingstop Restaurants       239
47    48                  Nathan's Famous       138
48    49            Rave Restaurant Group        24

In [32]:
Employees=pd.concat([pharma,food,auto,ecom,res],ignore_index=True)

In [33]:
Employees.to_csv('Employees.csv',index=False)

## PE Ratio

In [34]:
pharma=pd.read_csv('Pharma_PE_ratio.csv')
pharma

     Rank            Category                Company PE_Ratio Country
0       1   ğŸ’Š Pharmaceuticals                 JanOne   0.1150     USA
1       2   ğŸ’Š Pharmaceuticals  Adial Pharmaceuticals   0.1381     USA
2       3   ğŸ’Š Pharmaceuticals               Chimerix   0.4664     USA
3       4   ğŸ’Š Pharmaceuticals         TherapeuticsMD   0.5780     USA
4       5   ğŸ’Š Pharmaceuticals  Assertio Therapeutics   0.6200     USA
..    ...                 ...                    ...      ...     ...
675   689   ğŸ’Š Pharmaceuticals               RayzeBio    -68.8     USA
676   690   ğŸ’Š Pharmaceuticals   Neumora Therapeutics    -6.94     USA
677   693   ğŸ’Š Pharmaceuticals                 Imunon  -0.2361     USA
678   694   ğŸ’Š Pharmaceuticals   Renovaro Biosciences    -1.50     USA
679   695   ğŸ’Š Pharmaceuticals               CervoMed    -1.05     USA

[680 rows x 5 columns]

In [40]:
pharma['Company'].dtype

dtype('O')

In [46]:
import pandas as pd
import numpy as np

# Replace non-numeric values in 'PE_Ratio' with NaN
pharma['PE_Ratio'] = pd.to_numeric(pharma['PE_Ratio'], errors='coerce')

# Convert the column to float type
pharma['PE_Ratio'] = pharma['PE_Ratio'].astype(float)

# Display the DataFrame
print(pharma)

     Rank            Category                Company  PE_Ratio Country
0       1   ğŸ’Š Pharmaceuticals                 JanOne      0.12     USA
1       2   ğŸ’Š Pharmaceuticals  Adial Pharmaceuticals      0.14     USA
2       3   ğŸ’Š Pharmaceuticals               Chimerix      0.47     USA
3       4   ğŸ’Š Pharmaceuticals         TherapeuticsMD      0.58     USA
4       5   ğŸ’Š Pharmaceuticals  Assertio Therapeutics      0.62     USA
..    ...                 ...                    ...       ...     ...
675   689   ğŸ’Š Pharmaceuticals               RayzeBio    -68.80     USA
676   690   ğŸ’Š Pharmaceuticals   Neumora Therapeutics     -6.94     USA
677   693   ğŸ’Š Pharmaceuticals                 Imunon     -0.24     USA
678   694   ğŸ’Š Pharmaceuticals   Renovaro Biosciences     -1.50     USA
679   695   ğŸ’Š Pharmaceuticals               CervoMed     -1.05     USA

[680 rows x 5 columns]

In [47]:
pharma['PE_Ratio'].dtype

dtype('float64')

In [48]:
food=pd.read_csv('Food_PE_ratio.csv')
food

     Rank               Company PE_Ratio
0       1               Biglari     1.96
1       2  GEN Restaurant Group     2.15
2       3       Cal-Maine Foods     3.64
3       4             SÃ¼dzucker     4.89
4       5                Ottogi     4.98
..    ...                   ...      ...
215   230            CAVA Group     -311
216   231        BranchOut Food  -0.8802
217   234         Italmobiliare    -28.5
218   237         Grieg Seafood    -22.9
219   238     Davis Commodities     5.96

[220 rows x 3 columns]

In [50]:
import pandas as pd
import numpy as np

# Replace non-numeric values in 'PE_Ratio' with NaN
food['PE_Ratio'] = pd.to_numeric(food['PE_Ratio'], errors='coerce')

# Convert the column to float type
food['PE_Ratio'] = food['PE_Ratio'].astype(float)

# Display the DataFrame
print(food)

     Rank               Company  PE_Ratio
0       1               Biglari      1.96
1       2  GEN Restaurant Group      2.15
2       3       Cal-Maine Foods      3.64
3       4             SÃ¼dzucker      4.89
4       5                Ottogi      4.98
..    ...                   ...       ...
215   230            CAVA Group   -311.00
216   231        BranchOut Food     -0.88
217   234         Italmobiliare    -28.50
218   237         Grieg Seafood    -22.90
219   238     Davis Commodities      5.96

[220 rows x 3 columns]

In [51]:
auto=pd.read_csv('Automobile_PE_ratio.csv')

import pandas as pd
import numpy as np

# Replace non-numeric values in 'PE_Ratio' with NaN
auto['PE_Ratio'] = pd.to_numeric(auto['PE_Ratio'], errors='coerce')

# Convert the column to float type
auto['PE_Ratio'] = auto['PE_Ratio'].astype(float)

# Display the DataFrame
print(auto)

    Rank                           Company  PE_Ratio
0      1                    Dongfeng Motor      2.78
1      2                           Hyundai      2.95
2      3                 Mitsubishi Motors      3.79
3      4                        Volkswagen      3.88
4      5                    General Motors      3.93
5      6                     Mercedes-Benz      4.16
6      7                               Kia      4.54
7      8                               BMW      5.58
8      9                             Mazda      5.81
9     10                              Ford      6.66
10    11                       Ford Otosan      6.82
11    12     TofaÅŸ TÃ¼rk Otomobil FabrikasÄ±      6.89
12    13                            Nissan      7.52
13    14                            Subaru      7.69
14    15                             Isuzu      8.39
15    16                             Honda      8.44
16    17                         Volvo Car      8.49
17    18                           Polaris      8.67
18    19                            Toyota      9.15
19    20                      Suzuki Motor     11.60
20    21                        SAIC Motor     12.30
21    22               Mahindra & Mahindra     14.60
22    23  GAC (Guangzhou Automobile Group)     15.00
23    24                 Chongqing Changan     16.00
24    25                             Geely     16.50
25    26                      Force Motors     19.90
26    27               Maruti Suzuki India     28.70
27    28                               BYD     32.40
28    29                 Great Wall Motors     35.90
29    30                           Ferrari     52.10
30    31                             Tesla     68.70
31    32                           Li Auto    156.00
32    33                       Tata Motors    341.00
33    34                           Renault    -28.30
34    35                            Nikola     -0.59
35    36                               NIO     -4.14
36    37                      Aston Martin   -463.00
37    38                       Hotai Motor    -35.90
38    39                             XPeng    -12.20
39    40                 Electra Meccanica     -0.44
40    41                          Arcimoto     -0.04
41    42                            Fisker     -1.28
42    43                           FAW Car       NaN
43    44                        Stellantis     10.60
44    45                             Canoo     -0.32
45    46                           Arrival     -0.01
46    47                      Lucid Motors     -2.94
47    48                            Rivian     -2.47
48    49                    REE Automotive     -0.50
49    50            Cenntro Electric Group     -1.35
50    51                 Mullen Automotive     -0.00
51    52                    Faraday Future     -0.01
52    53                     Phoenix Motor     -1.71
53    54                          Polestar    -15.30
54    55          Kandi Technologies Group    -55.50
55    57                         Leapmotor    -12.20
56    58                      VinFast Auto     -5.98
57    59                         NWTN Inc.   -172.00
58    60                       Seres Group    -30.60

In [52]:
ecom=pd.read_csv('Ecommerce_PE_ratio.csv')

ecom

    Rank                Company PE_Ratio
0      1           Polished.com   0.8977
1      2              Schibsted     3.90
2      3                Vipshop     8.45
3      4      Allied Tecnologia     9.51
4      5            Vivid Seats     11.6
..   ...                    ...      ...
84    87                  Nogin  -0.0230
85    89              About You    -4.40
86    90      Katapult Holdings  -0.9990
87    92  LightInTheBox Holding    -2.67
88    95       Redcare Pharmacy    -53.1

[89 rows x 3 columns]

In [53]:


import pandas as pd
import numpy as np

# Replace non-numeric values in 'PE_Ratio' with NaN
ecom['PE_Ratio'] = pd.to_numeric(ecom['PE_Ratio'], errors='coerce')

# Convert the column to float type
ecom['PE_Ratio'] = ecom['PE_Ratio'].astype(float)

# Display the DataFrame
print(ecom)

    Rank                Company  PE_Ratio
0      1           Polished.com      0.90
1      2              Schibsted      3.90
2      3                Vipshop      8.45
3      4      Allied Tecnologia      9.51
4      5            Vivid Seats     11.60
..   ...                    ...       ...
84    87                  Nogin     -0.02
85    89              About You     -4.40
86    90      Katapult Holdings     -1.00
87    92  LightInTheBox Holding     -2.67
88    95       Redcare Pharmacy    -53.10

[89 rows x 3 columns]

In [54]:
res=pd.read_csv('Res_PE_ratio.csv')
res

    Rank                          Company PE_Ratio
0      1                          Biglari     1.96
1      2             GEN Restaurant Group     2.15
2      3                  Bloomin' Brands     8.62
3      4               Dine Brands Global     9.34
4      5                  Jack in the Box     10.7
5      6            Brinker International     11.3
6      7                   MTY Food Group     13.2
7      8                    El Pollo Loco     13.3
8      9                  Dave & Buster's     13.4
9     10                  Nathan's Famous     13.7
10    11           Arcos Dorados Holdings     14.5
11    12                      Pizza Pizza     16.0
12    13        The ONE Group Hospitality     17.4
13    14                     Bafang Yunji     18.4
14    15           The Cheesecake Factory     18.5
15    16                          Denny's     18.7
16    17               Darden Restaurants     19.3
17    18                  Wendyâ€™s Company     20.5
18    19  Restaurant Brands International     21.3
19    20                           Chuy's     23.9
20    21                        Yum China     24.0
21    22                      Yum! Brands     24.1
22    23            Rave Restaurant Group     24.4
23    24                         McDonald     24.7
24    25                   Domino's Pizza     25.4
25    26                  Texas Roadhouse     25.6
26    27                Papa John's Pizza     28.4
27    28                 McDonald's Japan     38.8
28    29                         Jollibee     39.5
29    30                 BJ's Restaurants     45.9
30    31           First Watch Restaurant     48.0
31    32           Chipotle Mexican Grill     52.3
32    33                       Portillo's     53.1
33    34             Potbelly Corporation     55.0
34    35               Hai Di Lao Hot Pot     60.1
35    36             Wingstop Restaurants      102
36    37            Devyani International      106
37    38                    CafÃ© de Coral      276
38    39                           AmRest      511
39    40                      Shake Shack   > 1000
40    41                   Kura Sushi USA   > 1000
41    42          Fiesta Restaurant Group    -40.4
42    43                        Red Robin    -2.91
43    45         Carrols Restaurant Group    -24.4
44    46      Barbeque Nation Hospitality     -948
45    47                       Sweetgreen    -6.77
46    48         The Restaurant Group plc     -752
47    49                        SSP Group  < -1000
48    50                Noodles & Company    -52.7
49    51    TH International (Tims China)    -2.17
50    53                       FAT Brands  -0.7010
51    54                       CAVA Group     -311

In [55]:

import numpy as np

# Replace non-numeric values in 'PE_Ratio' with NaN
res['PE_Ratio'] = pd.to_numeric(res['PE_Ratio'], errors='coerce')

# Convert the column to float type
res['PE_Ratio'] = res['PE_Ratio'].astype(float)

# Display the DataFrame
print(res)

    Rank                          Company  PE_Ratio
0      1                          Biglari      1.96
1      2             GEN Restaurant Group      2.15
2      3                  Bloomin' Brands      8.62
3      4               Dine Brands Global      9.34
4      5                  Jack in the Box     10.70
5      6            Brinker International     11.30
6      7                   MTY Food Group     13.20
7      8                    El Pollo Loco     13.30
8      9                  Dave & Buster's     13.40
9     10                  Nathan's Famous     13.70
10    11           Arcos Dorados Holdings     14.50
11    12                      Pizza Pizza     16.00
12    13        The ONE Group Hospitality     17.40
13    14                     Bafang Yunji     18.40
14    15           The Cheesecake Factory     18.50
15    16                          Denny's     18.70
16    17               Darden Restaurants     19.30
17    18                  Wendyâ€™s Company     20.50
18    19  Restaurant Brands International     21.30
19    20                           Chuy's     23.90
20    21                        Yum China     24.00
21    22                      Yum! Brands     24.10
22    23            Rave Restaurant Group     24.40
23    24                         McDonald     24.70
24    25                   Domino's Pizza     25.40
25    26                  Texas Roadhouse     25.60
26    27                Papa John's Pizza     28.40
27    28                 McDonald's Japan     38.80
28    29                         Jollibee     39.50
29    30                 BJ's Restaurants     45.90
30    31           First Watch Restaurant     48.00
31    32           Chipotle Mexican Grill     52.30
32    33                       Portillo's     53.10
33    34             Potbelly Corporation     55.00
34    35               Hai Di Lao Hot Pot     60.10
35    36             Wingstop Restaurants    102.00
36    37            Devyani International    106.00
37    38                    CafÃ© de Coral    276.00
38    39                           AmRest    511.00
39    40                      Shake Shack       NaN
40    41                   Kura Sushi USA       NaN
41    42          Fiesta Restaurant Group    -40.40
42    43                        Red Robin     -2.91
43    45         Carrols Restaurant Group    -24.40
44    46      Barbeque Nation Hospitality   -948.00
45    47                       Sweetgreen     -6.77
46    48         The Restaurant Group plc   -752.00
47    49                        SSP Group       NaN
48    50                Noodles & Company    -52.70
49    51    TH International (Tims China)     -2.17
50    53                       FAT Brands     -0.70
51    54                       CAVA Group   -311.00

In [56]:
Ratio=pd.concat([pharma,food,auto,ecom,res],ignore_index=True)

In [63]:
Ratio

      Rank                        Company  PE_Ratio Country
0        1                         JanOne      0.12     USA
1        2          Adial Pharmaceuticals      0.14     USA
2        3                       Chimerix      0.47     USA
3        4                 TherapeuticsMD      0.58     USA
4        5          Assertio Therapeutics      0.62     USA
...    ...                            ...       ...     ...
1095    49                      SSP Group       NaN     NaN
1096    50              Noodles & Company    -52.70     NaN
1097    51  TH International (Tims China)     -2.17     NaN
1098    53                     FAT Brands     -0.70     NaN
1099    54                     CAVA Group   -311.00     NaN

[1100 rows x 4 columns]

In [64]:
Ratio.drop(columns=['Country'],inplace=True)

In [65]:
Ratio.to_csv('PE_ratio.csv',index=False)