## Earnings

In [1]:
import pandas as pd

In [2]:
pharma=pd.read_csv('Pharma_Earning.csv')

In [3]:
pharma

     Rank            Category                   Company  Earnings      Country
0       1   ğŸ’Š Pharmaceuticals         Johnson & Johnson  $24.43 B          USA
1       2   ğŸ’Š Pharmaceuticals                     Roche  $17.67 B  Switzerland
2       3   ğŸ’Š Pharmaceuticals                CVS Health  $14.09 B          USA
3       4   ğŸ’Š Pharmaceuticals              Novo Nordisk  $12.84 B      Denmark
4       5   ğŸ’Š Pharmaceuticals                    Pfizer  $12.25 B          USA
..    ...                 ...                       ...       ...          ...
691   693   ğŸ’Š Pharmaceuticals                   BeiGene   -$1.3 B        China
692   694   ğŸ’Š Pharmaceuticals                  Rite Aid   -$1.4 B          USA
693   695   ğŸ’Š Pharmaceuticals                    Tilray  -$1.45 B       Canada
694   696   ğŸ’Š Pharmaceuticals                   Moderna  -$2.67 B          USA
695   697   ğŸ’Š Pharmaceuticals  Walgreens Boots Alliance  -$4.85 B          USA

[696 rows x 5 columns]

In [7]:
food_category=[]
food_country=[]
food_earning=[]

In [9]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)


def loop():
    global c_i
 
    
    food_country.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[8]/span').text)

    food_earning.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)

        



# page iteration
for pg_id in range(3,4): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/food/most-profitable-food-companies/?page={pg_id}"

    driver.get(url)        

    c_i = 1

    for i in range(1,40):

        r_iter=i
       
        cat='ğŸ´ Food'
        food_category.append(cat)
        
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
            

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()

In [37]:
data = {'Category': food_category, 'Earning': food_earning,'Country': food_country}
food_rev=pd.DataFrame(data)
food_rev=food_rev[food_rev.Earning !='N/A']


food_rev

    Category   Earning      Country
0     ğŸ´ Food  $12.21 B  Switzerland
1     ğŸ´ Food  $10.34 B          USA
2     ğŸ´ Food   $8.07 B           UK
3     ğŸ´ Food   $5.50 B       France
4     ğŸ´ Food   $5.48 B          USA
..       ...       ...          ...
234   ğŸ´ Food   -$0.6 B        China
235   ğŸ´ Food  -$0.87 B    Singapore
236   ğŸ´ Food  -$1.06 B          USA
237   ğŸ´ Food  -$2.87 B       France
238   ğŸ´ Food  -$6.09 B  Netherlands

[238 rows x 3 columns]

### Auto

In [13]:

auto_country=[]
auto_category=[] 
auto_earning=[]

# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)
def loop():
    global c_i
    global company
 
    
    auto_country.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[8]/span').text)
    auto_earning.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)

        



# page iteration
for pg_id in range(1,2): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/automakers/most-profitable-automakers/"


    driver.get(url)        

    c_i = 1

    for i in range(1,61):

        r_iter=i
        
        cat='ğŸš— Automakers'
        auto_category.append(cat)
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
            
            

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()     
            

data = {'Category': auto_category, 'Earning': auto_earning,'Country': auto_country}
auto_earn=pd.DataFrame(data)
auto_earn


auto_earn=auto_earn[auto_earn.Earning !='N/A']

In [14]:
auto_earn

        Category    Earning      Country
0   ğŸš— Automakers   $38.55 B        Japan
1   ğŸš— Automakers   $29.05 B      Germany
2   ğŸš— Automakers   $24.51 B      Germany
3   ğŸš— Automakers   $23.01 B      Germany
4   ğŸš— Automakers   $18.95 B     S. Korea
5   ğŸš— Automakers   $15.20 B     S. Korea
6   ğŸš— Automakers   $15.09 B          USA
7   ğŸš— Automakers   $11.89 B          USA
8   ğŸš— Automakers   $11.85 B          USA
9   ğŸš— Automakers    $9.21 B        Japan
10  ğŸš— Automakers    $8.22 B      Germany
11  ğŸš— Automakers    $5.18 B        China
12  ğŸš— Automakers    $4.79 B        Japan
13  ğŸš— Automakers    $4.13 B        China
14  ğŸš— Automakers    $3.12 B        Japan
15  ğŸš— Automakers    $2.94 B        Japan
16  ğŸš— Automakers    $2.78 B  Netherlands
17  ğŸš— Automakers    $2.67 B        India
18  ğŸš— Automakers    $2.30 B       France
19  ğŸš— Automakers    $2.15 B        Japan
20  ğŸš— Automakers    $1.74 B       Sweden
21  ğŸš— Automakers    $1.71 B        Japan
22  ğŸš— Automakers    $1.70 B        India
23  ğŸš— Automakers    $1.63 B        Italy
24  ğŸš— Automakers    $1.42 B       Turkey
25  ğŸš— Automakers    $1.21 B        China
26  ğŸš— Automakers    $1.15 B        Japan
27  ğŸš— Automakers    $0.92 B        China
28  ğŸš— Automakers    $0.91 B        China
29  ğŸš— Automakers    $0.90 B        China
30  ğŸš— Automakers    $0.86 B          USA
31  ğŸš— Automakers    $0.83 B       Turkey
32  ğŸš— Automakers    $0.67 B        China
33  ğŸš— Automakers    $0.66 B        India
34  ğŸš— Automakers    $0.60 B       Taiwan
35  ğŸš— Automakers    $0.48 B        China
36  ğŸš— Automakers    $0.15 B        China
37  ğŸš— Automakers   $57.95 M        India
38  ğŸš— Automakers   -$4.19 M        China
39  ğŸš— Automakers   -$15.3 M          USA
40  ğŸš— Automakers  -$41.22 M          UAE
41  ğŸš— Automakers  -$48.27 M          USA
42  ğŸš— Automakers   -$51.4 M          USA
43  ğŸš— Automakers  -$92.13 M       Canada
44  ğŸš— Automakers   -$0.11 B       Israel
45  ğŸš— Automakers   -$0.36 B          USA
46  ğŸš— Automakers   -$0.37 B          USA
47  ğŸš— Automakers   -$0.38 B           UK
48  ğŸš— Automakers   -$0.51 B          USA
49  ğŸš— Automakers   -$0.51 B       Sweden
50  ğŸš— Automakers   -$0.64 B        China
51  ğŸš— Automakers   -$0.74 B        China
52  ğŸš— Automakers   -$0.93 B          USA
53  ğŸš— Automakers   -$1.42 B          USA
54  ğŸš— Automakers   -$1.45 B           UK
55  ğŸš— Automakers   -$1.62 B        China
56  ğŸš— Automakers   -$2.03 B      Vietnam
57  ğŸš— Automakers   -$2.63 B          USA
58  ğŸš— Automakers   -$2.94 B        China
59  ğŸš— Automakers   -$5.46 B          USA

### Ecommerce

In [30]:
ecom_country=[]
ecom_category=[] 
ecom_earning=[]

# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)
def loop():
    global c_i
    global company
 
    
    
    ecom_country.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[8]/span').text)

    ecom_earning.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)

        



# page iteration
for pg_id in range(1,2): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/e-commerce/most-profitable-e-commerce-companies/"


    driver.get(url)        

    c_i = 1

    for i in range(1,96):

        r_iter=i
        
        cat='ğŸ›’ E-Commerce'
        ecom_category.append(cat)
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
            

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()     
            


data = {'Category': ecom_category, 'Earning': ecom_earning,'Country': ecom_country}
ecom_earn=pd.DataFrame(data)
ecom_earn


ecom_earn=ecom_earn[ecom_earn.Earning !='N/A']

In [31]:
ecom_earn

        Category   Earning    Country
0   ğŸ›’ E-Commerce  $26.07 B        USA
1   ğŸ›’ E-Commerce  $23.12 B      China
2   ğŸ›’ E-Commerce   $6.88 B      China
3   ğŸ›’ E-Commerce   $4.91 B      China
4   ğŸ›’ E-Commerce   $2.39 B        USA
..           ...       ...        ...
90  ğŸ›’ E-Commerce   -$0.9 B        USA
91  ğŸ›’ E-Commerce  -$1.12 B     Canada
92  ğŸ›’ E-Commerce  -$1.39 B      Japan
93  ğŸ›’ E-Commerce  -$1.68 B     Norway
94  ğŸ›’ E-Commerce   -$1.9 B  Indonesia

[95 rows x 3 columns]

### Restaurants

In [32]:
res_country=[]
res_category=[] 
res_earning=[]
# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)
def loop():
    global c_i
    global company
 
    
    res_country.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[8]/span').text)

    res_earning.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)

        



# page iteration
for pg_id in range(1,2): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/restaurant-chains/most-profitable-restaurant-chain-companies/"


    driver.get(url)        

    c_i = 1

    for i in range(1,56):

        r_iter=i
        
        cat='ğŸ” Restaurant chains'
        res_category.append(cat)
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
        

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()     
            


data = {'Category': res_category, 'Earning': res_earning,'Country': res_country}
res_earn=pd.DataFrame(data)



res_earn=res_earn[res_earn.Earning !='N/A']

In [33]:
res_earn

               Category    Earning      Country
0   ğŸ” Restaurant chains   $10.34 B          USA
1   ğŸ” Restaurant chains    $1.78 B          USA
2   ğŸ” Restaurant chains    $1.55 B          USA
3   ğŸ” Restaurant chains    $1.33 B       Canada
4   ğŸ” Restaurant chains    $1.20 B          USA
5   ğŸ” Restaurant chains    $1.16 B        China
6   ğŸ” Restaurant chains    $0.79 B          USA
7   ğŸ” Restaurant chains    $0.34 B          USA
8   ğŸ” Restaurant chains    $0.34 B          USA
9   ğŸ” Restaurant chains    $0.30 B        China
10  ğŸ” Restaurant chains    $0.30 B  Philippines
11  ğŸ” Restaurant chains    $0.29 B          USA
12  ğŸ” Restaurant chains    $0.28 B          USA
13  ğŸ” Restaurant chains    $0.28 B      Uruguay
14  ğŸ” Restaurant chains    $0.27 B          USA
15  ğŸ” Restaurant chains    $0.25 B        Japan
16  ğŸ” Restaurant chains    $0.18 B          USA
17  ğŸ” Restaurant chains    $0.16 B          USA
18  ğŸ” Restaurant chains    $0.14 B          USA
19  ğŸ” Restaurant chains    $0.14 B          USA
20  ğŸ” Restaurant chains    $0.13 B        Spain
21  ğŸ” Restaurant chains    $0.11 B          USA
22  ğŸ” Restaurant chains    $85.3 M          USA
23  ğŸ” Restaurant chains   $77.52 M       Canada
24  ğŸ” Restaurant chains   $56.83 M          USA
25  ğŸ” Restaurant chains   $48.63 M          USA
26  ğŸ” Restaurant chains   $40.52 M        India
27  ğŸ” Restaurant chains   $34.39 M          USA
28  ğŸ” Restaurant chains   $32.32 M          USA
29  ğŸ” Restaurant chains   $30.82 M          USA
30  ğŸ” Restaurant chains   $30.17 M          USA
31  ğŸ” Restaurant chains   $28.14 M           UK
32  ğŸ” Restaurant chains   $26.88 M  New Zealand
33  ğŸ” Restaurant chains   $26.51 M       Canada
34  ğŸ” Restaurant chains   $25.32 M       Taiwan
35  ğŸ” Restaurant chains   $18.77 M          USA
36  ğŸ” Restaurant chains   $18.36 M    Hong Kong
37  ğŸ” Restaurant chains   $13.42 M          USA
38  ğŸ” Restaurant chains    $12.8 M          USA
39  ğŸ” Restaurant chains   $11.65 M          USA
40  ğŸ” Restaurant chains   $10.61 M    Hong Kong
41  ğŸ” Restaurant chains    $8.82 M        India
42  ğŸ” Restaurant chains    $8.78 M          USA
43  ğŸ” Restaurant chains    $2.15 M          USA
44  ğŸ” Restaurant chains    $1.07 M          USA
45  ğŸ” Restaurant chains    $0.85 M          USA
46  ğŸ” Restaurant chains    $0.68 M          USA
48  ğŸ” Restaurant chains   -$4.93 M          USA
49  ğŸ” Restaurant chains   -$8.04 M          USA
50  ğŸ” Restaurant chains  -$50.79 M          USA
51  ğŸ” Restaurant chains   -$0.11 B           UK
52  ğŸ” Restaurant chains   -$0.12 B        China
53  ğŸ” Restaurant chains   -$0.12 B          USA
54  ğŸ” Restaurant chains   -$0.16 B          USA

## READ ALL Earning Files

In [22]:
all_earn=pd.read_csv('Earnings.csv')

In [23]:
all_earn

      Rank                        Company      Earnings
0        1              Johnson & Johnson  2.443000e+10
1        2                          Roche  1.767000e+10
2        3                     CVS Health  1.409000e+10
3        4                   Novo Nordisk  1.284000e+10
4        5                         Pfizer  1.225000e+10
...    ...                            ...           ...
1138    51                      Red Robin -5.079000e+07
1139    52       The Restaurant Group plc -1.100000e+08
1140    53  TH International (Tims China) -1.200000e+08
1141    54                     FAT Brands -1.200000e+08
1142    55                     Sweetgreen -1.600000e+08

[1143 rows x 3 columns]

In [38]:
pharma_categories = pharma['Category'].tolist()
food_rev_categories = food_rev['Category'].tolist()
auto_earn_categories = auto_earn['Category'].tolist()
ecom_earn_categories = ecom_earn['Category'].tolist()
res_earn_categories = res_earn['Category'].tolist()

In [39]:
combined_categories = pharma_categories + food_rev_categories + auto_earn_categories + ecom_earn_categories + res_earn_categories

In [40]:
len(combined_categories)

1143

In [41]:
all_earn['Category']=combined_categories

In [42]:
pharma = pharma['Country'].tolist()
food = food_rev['Country'].tolist()
auto = auto_earn['Country'].tolist()
ecom = ecom_earn['Country'].tolist()
res= res_earn['Country'].tolist()

In [43]:
combined_country = pharma + food + auto + ecom + res
all_earn['Country']=combined_country

In [45]:
all_earn.to_csv('Final_Earning.csv',index=False)