In [1]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By

In [2]:
rank_list=[]
category=[]
company=[]
country=[]
market_capital=[]

##  Market Cap

In [3]:

# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)




def loop():
    global c_i
    global company
    global country
    
    
    company.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[3]/div[2]/a/div[1]').text)

    market_capital.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)

    country.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[8]/span').text)
       
        



# page iteration
for pg_id in range(1,2): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/restaurant-chains/largest-restaurant-chain-companies-by-market-cap/"
    driver.get(url)        

    c_i = 1

    for i in range(1,56):

        r_iter=i
        
        cat='🍔 Restaurant chains'
        category.append(cat)
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
            
        rank_list.append(rank)
            

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()

In [4]:
data = {'Rank':rank_list,'Category': category, 'Company': company, 'Market_Capital': market_capital,'Country':country}
df_MP=pd.DataFrame(data)
df_MP

,Rank,Category,Company,Market_Capital,Country
0,1,🍔 Restaurant chains,McDonald,$204.40 B,USA
1,2,🍔 Restaurant chains,Chipotle Mexican Grill,$60.85 B,USA
2,3,🍔 Restaurant chains,Yum! Brands,$36.01 B,USA
3,4,🍔 Restaurant chains,Restaurant Brands International,$30.76 B,Canada
4,5,🍔 Restaurant chains,Darden Restaurants,$18.79 B,USA
5,6,🍔 Restaurant chains,Yum China,$18.48 B,China
6,7,🍔 Restaurant chains,Domino's Pizza,$12.89 B,USA
7,8,🍔 Restaurant chains,Hai Di Lao Hot Pot,$11.87 B,China
8,9,🍔 Restaurant chains,Americana Restaurants International,$7.89 B,UAE
9,10,🍔 Restaurant chains,Texas Roadhouse,$7.50 B,USA
10,11,🍔 Restaurant chains,Wingstop Restaurants,$6.92 B,USA
11,12,🍔 Restaurant chains,McDonald's Japan,$5.63 B,Japan
12,13,🍔 Restaurant chains,Jollibee,$4.82 B,Philippines
13,14,🍔 Restaurant chains,Wendy’s Company,$3.97 B,USA
14,15,🍔 Restaurant chains,CAVA Group,$3.90 B,USA
15,16,🍔 Restaurant chains,Devyani International,$2.63 B,India
16,17,🍔 Restaurant chains,Shake Shack,$2.62 B,USA
17,18,🍔 Restaurant chains,Arcos Dorados Holdings,$2.43 B,Uruguay
18,19,🍔 Restaurant chains,Papa John's Pizza,$2.19 B,USA
19,20,🍔 Restaurant chains,SSP Group,$2.11 B,UK
20,21,🍔 Restaurant chains,Bloomin' Brands,$2.07 B,USA
21,22,🍔 Restaurant chains,Dave & Buster's,$1.67 B,USA
22,23,🍔 Restaurant chains,The Cheesecake Factory,$1.64 B,USA
23,24,🍔 Restaurant chains,Brinker International,$1.56 B,USA
24,25,🍔 Restaurant chains,Jack in the Box,$1.37 B,USA
25,26,🍔 Restaurant chains,AmRest,$1.37 B,Spain
26,27,🍔 Restaurant chains,Sweetgreen,$1.06 B,USA
27,28,🍔 Restaurant chains,First Watch Restaurant,$1.05 B,USA
28,29,🍔 Restaurant chains,MTY Food Group,$0.92 B,Canada
29,30,🍔 Restaurant chains,Portillo's,$0.82 B,USA
30,31,🍔 Restaurant chains,Café de Coral,$0.74 B,Hong Kong
31,32,🍔 Restaurant chains,BJ's Restaurants,$0.70 B,USA
32,33,🍔 Restaurant chains,Dine Brands Global,$0.68 B,USA
33,34,🍔 Restaurant chains,Kura Sushi USA,$0.68 B,USA
34,35,🍔 Restaurant chains,The Restaurant Group plc,$0.63 B,UK
35,36,🍔 Restaurant chains,Chuy's,$0.60 B,USA
36,37,🍔 Restaurant chains,Denny's,$0.51 B,USA
37,38,🍔 Restaurant chains,Biglari,$0.45 B,USA
38,39,🍔 Restaurant chains,Carrols Restaurant Group,$0.41 B,USA
39,40,🍔 Restaurant chains,Bafang Yunji,$0.36 B,Taiwan
40,41,🍔 Restaurant chains,Pizza Pizza,$0.34 B,Canada
41,42,🍔 Restaurant chains,Barbeque Nation Hospitality,$0.28 B,India
42,43,🍔 Restaurant chains,El Pollo Loco,$0.28 B,USA
43,44,🍔 Restaurant chains,TH International (Tims China),$0.27 B,China
44,45,🍔 Restaurant chains,Restaurant Brands New Zealand,$0.27 B,New Zealand
45,46,🍔 Restaurant chains,Potbelly Corporation,$0.27 B,USA
46,47,🍔 Restaurant chains,Nathan's Famous,$0.27 B,USA
47,48,🍔 Restaurant chains,Fiesta Restaurant Group,$0.22 B,USA
48,49,🍔 Restaurant chains,GEN Restaurant Group,$0.21 B,USA
49,50,🍔 Restaurant chains,Fairwood Holdings,$0.17 B,Hong Kong
50,51,🍔 Restaurant chains,The ONE Group Hospitality,$0.14 B,USA
51,52,🍔 Restaurant chains,Red Robin,$0.14 B,USA
52,53,🍔 Restaurant chains,Noodles & Company,$0.13 B,USA
53,54,🍔 Restaurant chains,FAT Brands,$96.32 M,USA
54,55,🍔 Restaurant chains,Rave Restaurant Group,$35 M,USA

In [5]:
df_MP = df_MP [df_MP.Market_Capital != 'N/A']

In [6]:
df_MP['Market_Capital']=df_MP['Market_Capital'].str.replace('$','')

/var/folders/fx/sxss674s30jf3yw9m3qmqvrm0000gn/T/ipykernel_4062/2648830908.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_MP['Market_Capital']=df_MP['Market_Capital'].str.replace('$','')

In [7]:
df_MP.to_csv('Res_MarketCapital.csv',index=False)

## Revenue

In [8]:

# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)

rank_list=[]
company=[]
revenue=[]


def loop():
    global c_i
    global company
    
    
    company.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[3]/div[2]/a/div[1]').text)

    revenue.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)

       
        



# page iteration
for pg_id in range(1,2): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/restaurant-chains/largest-restaurant-chain-companies-by-revenue/"

    driver.get(url)        

    c_i = 1

    for i in range(1,56):

        r_iter=i
        
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
        
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
            
        rank_list.append(rank)
            

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()     
            


data = {'Rank':rank_list,'Company': company, 'Revenue': revenue}
df_rev=pd.DataFrame(data)
df_rev


df_rev=df_rev[df_rev.Revenue != 'N/A']
df_rev.reset_index(drop=True, inplace=True)


df_rev['Revenue']=df_rev['Revenue'].str.replace('$','')



df_rev.to_csv('Res_Revenue.csv',index=False)

/var/folders/fx/sxss674s30jf3yw9m3qmqvrm0000gn/T/ipykernel_4062/2181718657.py:83: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_rev['Revenue']=df_rev['Revenue'].str.replace('$','')

## Pharma - Employees

In [10]:

# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)

rank_list=[]

company=[]

employees=[]   


def loop():
    global c_i
    global company
    global country
    
    
    company.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[3]/div[2]/a/div[1]').text)

    employees.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)

       
        



# page iteration
for pg_id in range(1,2): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/restaurant-chains/largest-restaurant-chain-companies-by-number-of-employees/"


    driver.get(url)        

    c_i = 1

    for i in range(1,56):

        r_iter=i
   
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
            
        rank_list.append(rank)
            

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()     
            


data = {'Rank':rank_list, 'Company': company, 'Employees': employees}
df_emp=pd.DataFrame(data)
df_emp

df_emp=df_emp[df_emp.Employees !='N/A']
df_emp.to_csv('Res_Emp.csv',index=False)

## Pharma - Earnings

In [11]:
rank_list=[]
company=[]
earnings=[] 

# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)
def loop():
    global c_i
    global company
 
    
    
    company.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[3]/div[2]/a/div[1]').text)

    earnings.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[5]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)

        



# page iteration
for pg_id in range(1,2): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/restaurant-chains/most-profitable-restaurant-chain-companies/"


    driver.get(url)        

    c_i = 1

    for i in range(1,56):

        r_iter=i
       
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
            
        rank_list.append(rank)
            

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()     
            

data = {'Rank':rank_list, 'Company': company, 'Earnings': earnings}

df_earn=pd.DataFrame(data)
df_earn


df_earn=df_earn[df_earn.Earnings !='N/A']
df_earn.to_csv('Res_Earning.csv',index=False)

## Pharma - P/E Ratio

In [13]:
rank_list=[]

company=[]

p_e=[]

In [14]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By


# Set up the Chrome WebDriver (you need to have ChromeDriver installed and in your PATH)
def loop():
    global c_i
    global company
    global p_e
    
    
    company.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[6]/table/tbody/tr[' + str(c_i) + ']/td[3]/div[2]/a/div[1]').text)

    p_e.append(driver.find_element(By.XPATH,'//*[@id="cmkt"]/div[6]/table/tbody/tr[' + str(c_i) + ']/td[4]').text)




# page iteration
for pg_id in range(1,2): 
    driver = webdriver.Chrome()

    url = f"https://companiesmarketcap.com/restaurant-chains/restaurant-chain-companies-ranked-by-pe-ratio/"


    driver.get(url)        

    c_i = 1

    for i in range(1,56):

        r_iter=i
    
        
        if pg_id == 1:
            rank=i
            
        elif pg_id == 2:
            rank=i+100
           
        elif pg_id == 3:
            rank=i+200
            
        elif pg_id == 4:
            rank=i+300   
            
        elif pg_id == 5:
            rank=i+400 
        
        elif pg_id == 6:
            rank=i+500 
         
        else:
            rank=i+600 
            
        rank_list.append(rank)
            

        if r_iter==18 or r_iter == 76:
            c_i +=1
            loop()

        else:
            loop()

        c_i+=1

    driver.close()

In [15]:
data = {'Rank':rank_list,'Company': company, 'PE_Ratio': p_e}

df_pe=pd.DataFrame(data)
df_pe

    Rank                              Company PE_Ratio
0      1                              Biglari     1.96
1      2                 GEN Restaurant Group     2.15
2      3                      Bloomin' Brands     8.62
3      4                   Dine Brands Global     9.34
4      5                      Jack in the Box     10.7
5      6                Brinker International     11.3
6      7                       MTY Food Group     13.2
7      8                        El Pollo Loco     13.3
8      9                      Dave & Buster's     13.4
9     10                      Nathan's Famous     13.7
10    11               Arcos Dorados Holdings     14.5
11    12                          Pizza Pizza     16.0
12    13            The ONE Group Hospitality     17.4
13    14                         Bafang Yunji     18.4
14    15               The Cheesecake Factory     18.5
15    16                              Denny's     18.7
16    17                   Darden Restaurants     19.3
17    18                      Wendy’s Company     20.5
18    19      Restaurant Brands International     21.3
19    20                               Chuy's     23.9
20    21                            Yum China     24.0
21    22                          Yum! Brands     24.1
22    23                Rave Restaurant Group     24.4
23    24                             McDonald     24.7
24    25                       Domino's Pizza     25.4
25    26                      Texas Roadhouse     25.6
26    27                    Papa John's Pizza     28.4
27    28                     McDonald's Japan     38.8
28    29                             Jollibee     39.5
29    30                     BJ's Restaurants     45.9
30    31               First Watch Restaurant     48.0
31    32               Chipotle Mexican Grill     52.3
32    33                           Portillo's     53.1
33    34                 Potbelly Corporation     55.0
34    35                   Hai Di Lao Hot Pot     60.1
35    36                 Wingstop Restaurants      102
36    37                Devyani International      106
37    38                        Café de Coral      276
38    39                               AmRest      511
39    40                          Shake Shack   > 1000
40    41                       Kura Sushi USA   > 1000
41    42              Fiesta Restaurant Group    -40.4
42    43                            Red Robin    -2.91
43    44        Restaurant Brands New Zealand      N/A
44    45             Carrols Restaurant Group    -24.4
45    46          Barbeque Nation Hospitality     -948
46    47                           Sweetgreen    -6.77
47    48             The Restaurant Group plc     -752
48    49                            SSP Group  < -1000
49    50                    Noodles & Company    -52.7
50    51        TH International (Tims China)    -2.17
51    52  Americana Restaurants International      N/A
52    53                           FAT Brands  -0.7010
53    54                           CAVA Group     -311
54    55                    Fairwood Holdings      N/A

In [16]:
df_pe=df_pe[df_pe.PE_Ratio !='N/A']

In [17]:
df_pe.to_csv('Res_PE_ratio.csv',index=False)